mindcv==0.2.2
numpy
onnx
onnxruntime-gpu
opencv-python
mindspore==2.0.0
pylint
Flask
Flask_Cors
Pillow
absl-py
nvidia-tensorrt
protobuf
openvino-dev
https://ms-release.obs.cn-north-4.myhuaweicloud.com/2.0.0a0/GoldenStick/any/mindspore_gs-0.3.0-py3-none-any.whl --trusted-host ms-release.obs.cn-north-4.myhuaweicloud.com -i https://pypi.tuna.tsinghua.edu.cn/simple
https://ms-release.obs.cn-north-4.myhuaweicloud.com/1.9.0/Hub/any/mindspore_hub-1.9.0-py3-none-any.whl --trusted-host ms-release.obs.cn-north-4.myhuaweicloud.com -i https://pypi.tuna.tsinghua.edu.cn/simple